<?xml version="1.0" ?>
<launch>
  <node pkg="teleop" type="teleop_keyboard_node" name="teleop_keyboard" output="screen">
    <param name="walk_vel" value="0.6" />
    <param name="run_vel" value="1.2" />
    <param name="yaw_rate" value="1.2" />
    <param name="yaw_run_rate" value="2.4" />

    <remap from="~cmd_vel" to="/cmd_vel_prio_high" />
  </node>
</launch>
