<?xml version="1.0"?>
<launch>
  <arg name="robot" default="vehicle_v2"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="world_name" default="$(find bringup_dual)/worlds/fixed_world.world" />
  <arg name="init_pos_x" default="0.0"/>
  <arg name="init_pos_y" default="0.0"/>
  <arg name="init_pos_z" default="0.2"/>

  <!-- Gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="$(arg paused)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(arg world_name)"/>
  </include>
  
  <!-- Upload robot description -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find description_dual)/urdf/base.urdf.xacro"/>
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" respawn="false" output="screen"
    args="-param robot_description
          -urdf
          -x $(arg init_pos_x)
          -y $(arg init_pos_y)
          -z $(arg init_pos_z)
          -model vehicle_v2">
  </node>

  <!-- State publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="100.0" />
    <param name="/use_sim_time" value="$(arg use_sim_time)"/>
  </node>

  <!-- Joint state publisher -->
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="100.0" />
    <param name="/use_sim_time" value="$(arg use_sim_time)"/>
  </node>

  <!-- Controller -->
  <group ns="controller_group">
    <node pkg="bringup_dual" type="vehicle_controller" name="control"/>
  </group>

  <!-- run RViz node (visualization) -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find slam_dual)/rviz/slam.rviz">
  </node>
</launch>